/* ==========================================================================
   Reset CSS
   ========================================================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-200);
  background-color: var(--color-background-100);
}

/* ==========================================================================
   Syntax Highlighter
   ========================================================================== */

/* Padding & overflow */

pre {
  overflow-x: auto;
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

[data-line] {
  box-shadow: 0 0 0 2px #292d3e;
  border-radius: 2px;
}

pre [data-line] {
  line-height: 175%;
  padding: 0 1.5rem;
  box-shadow: none;
  border-radius: 0;
}

pre [data-highlighted-line] {
  background-color: rgba(110, 156, 228, 0.15);
}

figure [data-rehype-pretty-code-title] {
  color: #babed8;
  position: relative;
  padding: 0.75rem 1.5rem;
  margin-bottom: -0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid #3b4d68;
  background-color: #2d3144;
}
